body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.container {
  z-index: 1;
}

.logo {
  text-align: center
}

.logo img{
  height: 100px;
  object-fit: cover;
}

.admin-container {
  display: flex;
  width: 100%;
  z-index: 1;
  height: 100vh;
}
