<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hackathon</title>
    <link href="/bundle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-firestore.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyC0F_r19UKFUmQRUesHSVq3qpBgXdGB0OE",
        authDomain: "voteusc.firebaseapp.com",
        databaseURL: "https://voteusc.firebaseio.com",
        projectId: "voteusc",
        storageBucket: "voteusc.appspot.com",
        messagingSenderId: "379614556768"
      };
      firebase.initializeApp(config);
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
