.light-wrapper {
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(135deg, #fff 0%, #f3f6f8 100%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}

.light-wrapper::before {
    content: "";
    position: fixed;
    left: -22%;
    top: 60%;
    right: 0;
    width: 125%;
    height: 100%;
    background: linear-gradient(135deg, #f3f6f8 0%, #fff 100%);
    transform: rotate(15deg);
}

.grey{
  background: #f6f8f9;
  height: 100%;
}
